*{
    padding: 0;
    margin: 0;
}
.container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.header{
    text-align: baseline;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.header p{
    text-align: center;
    color: rgba(128, 128, 128, 0.493);
    font-size: 15px;
    margin-top: 17px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;

}
.header h2{
    color: grey;
    font-size: 26px;
    line-height:35px;
    font-weight: lighter;
    margin-left: 50px;
    margin-top: 20px;
}
.header span{
    color: rgba(0, 0, 0, 0.719);
    font-weight: bold;
    font-size: 26px;
    font-family:'Lucida Sans', 'Lucida Sans bold', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.team{
    width: 100%;
    height: 500px;
    position: relative;
    /* background-color: blue; */
}
.box1{
    width: 250px;
    height: 180px;
    background-color: white;
    position: absolute;
    top: 45px;
    left: 550px;
    right: 150px;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.445);
}
.box1 hr{
    height: 2px;
    width: 254px;
    background-color: red;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: -8px
    
}
.box1 h3{
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px; 
    font-family:'Times New Roman', Times, serif

}
.box1 p{
    font-size: 10px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
.img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100px;
    right: 20px;
}
.box2{
    width: 250px;
    height: 180px;
    background-color: white;
    position: absolute;
    top: 144px;
    left: 270px;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.445);
}
.box2 hr{
    height: 2px;
    width: 254px;
    background-color: rgb(0, 204, 255);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: -8px;
    
}
.box2 h3{
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif

}
.box2 p{
    font-size: 10px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
.box3{
    width: 250px;
    height: 180px;
    background-color: white;
    position: absolute;
    bottom: 80px;
    left: 550px;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.445);
}
.box3 hr{
    height: 2px;
    width: 254px;
    background-color: rgba(255, 255, 0, 0.781);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: -8px;
    
}
.box3 h3{
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
    /* font-style: normal; */
    font-family:'Times New Roman', Times, serif

}
.box3 p{
    font-size: 10px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
.box4{
    width: 250px;
    height: 180px;
    background-color: white;
    position: absolute;
    bottom: 178px;
    right: 260px;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.445);
}
.box4 hr{
    height: 2px;
    width: 254px;
    background-color: blue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: -8px;
    
}
.box4 h3{
    margin-top: 20px;
    /* margin-right: 15px; */
    font-weight: bold;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif

}
.box4 p{
    font-size: 10px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
